* {
    padding: 0;
    margin: 0;
}
body {
    background: #3f3b3b;
    color: white;
    padding: 0 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.navBar {
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;

}

.navBar li a {
    padding: 0 10px;
    display: inline-block;
}

